@model sortNumbers.Dtos.NumbersLineReadDto
<form method="get" asp-action="Get">   
    <div class="border p-3">
        @*<div asp-validation-summary="ModelOnly" class="text-danger"></div>*@
        <div class="form-group row" style="border-top-width: 2%; border-top-style: solid; border-top-color: #eaecef; margin-top: 2.5%; padding-top: 2.5%;">
            <h2 class="text-info pl-3">LAST SAVED FILE SORT RESULT</h2>
        </div>

        @{int count=0;}
        @if(Model!=null && Model.numbers!=null){    
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            Index
                        </th>
                        <th>
                            Number
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.numbers) {
                        <tr>
                            <td>
                                @count
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item)
                            </td>
                        </tr>
                        {count++;}
                    }
                </tbody>
            </table>
        }else{
            <p>
                No sort of numbers to show.
            </p>
        }
    </div>
</form>