<div class="border p-3">
    <div class="form-group row">
        <h2 class="text-info pl-3">Assignment - Sort of a line of numbers</h2>
    </div>
    <div class="form-group row" style="border-top-width: 2%; border-top-style: solid; border-top-color: #eaecef; margin-top: 2.5%; padding-top: 2.5%;">
        <span style="margin: 2%;">
            <p>This is a MVC version of the assignment.</p>
            <p>In the tab area "Sort Numbers" is possible to insert numbers to sort.</p>
            <p>Is also possible to check the execution time of each sort algorithm in milliseconds.</p>
            <p>All the times a new sort is done, one new file is created with the sort result. The files are in the folder "files".</p>
            <p>In the tab area "View Numbers" is possible to view the sort result of last saved file.</p>
        </span>
    </div>
</div>