@model sortNumbers.Models.NumbersLine

<form method="post">
    <div class="border p-3">
        @*<div asp-validation-summary="ModelOnly" class="text-danger"></div>*@
        <div class="form-group row">
            <h2 class="text-info pl-3">SORT NUMBERS</h2>
        </div>
        <div class="row">
            <div class="col-8">
                <div class="form-group row">
                    <div class="col-4" style="text-align: right;">
                        <label asp-for="numberstext" style="font-weight: bold;">Insert numbers:</label>
                    </div>
                    <div class="col-8">
                        <input asp-for="numberstext" placeholder="ex: 2,4,6" class="form-control" value=""/> 
                        <span asp-validation-for="numberstext" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-4" style="text-align: right; font-weight: bold;">
                        <label asp-for="quickSortTime">Quick Sort Time:</label>
                    </div>
                    <div class="col-1">
                        <label>@Html.DisplayFor(numbersLine => numbersLine.quickSortTime)</label>
                    </div>
                    <div class="col-4">
                        <label>milliseconds</label>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-4" style="text-align: right; font-weight: bold;">
                        <label asp-for="bubbleSortTime" style="text-align: right;">Bubble Sort Time:</label>
                    </div>
                    <div class="col-1">
                        <label>@Html.DisplayFor(numbersLine => numbersLine.bubbleSortTime)</label>
                    </div>
                    <div class="col-4">
                        <label>milliseconds</label>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-4" style="text-align: right; font-weight: bold;">
                        <label asp-for="mergeSortTime" style="text-align: right;">Merge Sort Time:</label>
                    </div>
                    <div class="col-1">
                        <label>@Html.DisplayFor(numbersLine => numbersLine.mergeSortTime)</label>
                    </div>
                    <div class="col-4">
                        <label>milliseconds</label>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-8 offset-8 row">
                        <div class="col">
                            <input type="submit" class="btn btn-info w-50" value="Sort"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                @* Keep this empty *@
            </div>
        </div>
    </div>
</form>